.item-list{
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

/* .Item{
  color:blue;
  text-align: center;
  list-style-type: none;
} */

.item-list li{
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  padding: 15px;
  color: #333;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
  border-radius: 10px;
}

.item-list li:hover{
  background: #dddddd ;
  transition: 0.5s;
}